{% extends "coffeeCloud/base.html" %}
{% block content %}
    <h3>CoffeeCloud homepage</h3>
    <!-- products is dict key of variable passed into template -->
    {% for item in products %}
        <!-- to access data, .company is dict key for product attributes -->
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ item.region }}</a>
                <small class="text-muted"> Roasted on: {{ item.dateRoast|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ item.name }}</a></h2>
                <p class = "article-content">Proccess: {{ item.process }} <br> Roast level: {{ item.roast }}</p>
            <p class="article-content"> {{ item.description }} </p>
            <div class ="small">Brought to you by: {{item.company}} </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
