{% extends "coffeeCloud/base.html" %}
{% block content %}
    <div class="container-fluid text-center" style="margin-bottom: 20px ; width:100%; background-color: #428bca">
        <!-- container for first user welcome page -->
        <h1 class="display-1 font-weight-bold container-fluid" style="width:100%">Coffee Cloud</h1>
        <small class="display-4" style="width:100%; margin-bottom: 20px ">Changing coffee journals, forever.</small>
        <div style="width:100%; text-align: center; margin-top: 30px; margin-bottom: 30px">
            <div class="btn-group mr-5" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">8</button>
            </div>
            <div class="btn-group mr-5" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">8</button>
            </div>
        </div>
    </div>
{% endblock content %}
